<%- include("header.ejs") %>
<div class="about pageContent">
    <h1>ABOUT</h1>
    <p>BCACTF is a Jeopardy-style CTF focused on introducing middle and high school students to cybersecurity and programming. BCACTF is organized by the Cybersecurity club at the Bergen County Academies, a student founded and run group focused on educating others about cybersecurity and related topics. As BCACTF is focused toward beginners we aimed to create problems that are accesible and would help introduce important computer security topics. The problems do get progressively harder, and we hope that there are problems suitable to every skill level.</p>
</div>
<%- include("footer.ejs") %>