<%- include("header.ejs") %>
<div class="about pageContent">
    <h1>Message Sent</h1>
    <p>Thank you!  We will get back to you shortly.</p>
    <div class="col-auto">
        <button type="submit" class="btn btn-success text-uppercase h-100" onclick="window.location='/';">Go Home</button>
    </div>
</div>
<%- include("footer.ejs") %>