<%- include("header.ejs") %>
<div class="contact pageContent">
    <h1>CONTACT</h1>
    <form method="post" action="/contact">

            <p>We’re constantly working to represent the student body.  If you have any ideas, questions for us or the administration, or concerns, feel free to let us know here!</p>
            
            <input type="text" name="name" placeholder="Name" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="subject" placeholder="Subject" required>
            <textarea name="message" data-gramm_editor="false" placeholder="Message" required></textarea>

            <div class="btn-div">
                <button type="submit">SEND</button>
            </div>

    </form>
</div>
<%- include("footer.ejs") %>