<%- include("header.ejs") %>
<div class="faqPageContent">
    <h1 style="text-align: center">FAQ</h1>
    <div class="container px-2 px-sm-0">
        <div class="row">
            <% faq.forEach(question => { %>
            <div class="col-sm-12 col-md-6 col-lg-4 p-0">
                <div class="faqScreen">
                    <div class="titlebar"></div>
                    <div class="screencont">
                        <h2><%-question.question %></h2>
                        <%-question.answer %>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</div>
<%- include("footer.ejs") %>