<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="utf-8">

        <title>BCA CTF - Cyber Security Competition</title>

        <link rel="shortcut icon" type="image/png" href="static/img/BCACTF-logo.png"/>  <!-- favicon-->

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        <!-- Ubuntu Mono Font -->
        <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,500,600,700,800" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="static/css/index.css"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="d-flex flex-grow-1">
                <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
                <a class="navbar-brand d-none d-lg-inline-block nav-logo" href="/">
                    BCACTF
                </a>
                <a class="navbar-brand mx-auto d-lg-none d-inline-block" href="/">
                <!-- <a class="navbar-brand-two mx-auto d-lg-none d-inline-block nav-logo" href="#"> -->   
                    BCACTF
                </a>
                <div class="w-100 text-right">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
                <ul class="navbar-nav ml-auto flex-nowrap">
                    <li class="nav-item">
                        <a href="/about" class="nav-link m-2 menu-item nav-menu-item">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a href="/faq" class="nav-link m-2 menu-item nav-menu-item">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact" class="nav-link m-2 menu-item nav-menu-item nav-active">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a href="/rules" class="nav-link m-2 menu-item nav-menu-item">RULES</a>
                    </li>
                    <li class="nav-item">
                        <a href="/register" class="nav-link m-2 menu-item nav-menu-item">GET STARTED</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link m-2 menu-item nav-menu-item">LOGIN</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- ./Navbar-->

    <main>