<%- include("header.ejs") %>

<div class="container text-white pb-5">

    <img class="d-block mx-auto" id="logo" src="/static/img/BCACTF-logo.png"/>
    <h1 class="centerText mt-3">BCACTF</h1>
    <p class="centerText mt-3 lead font-weight-bold">June 9-15</p>
    <p class="centerText mt-3 lead">Online Middle School Cyber Security Competition</p>
    <form class="mt-3 mx-auto get-updates-form" method="post" action="/subscribe">
        <div class="form-row align-items-stretch">
            <div class="col-auto flex-grow-1">
                <input class="form-control darkInput w-100 m-0" type="email" name="email" required placeholder="Email" />
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-success text-uppercase h-100">Get Updates</button>
            </div>
        </div>
    </form>

</div>


<%- include("footer.ejs") %>