<%- include("header.ejs") %>
<div class="contact pageContent">
    <h1>Get Started</h1>
    <form>

            <p>Interested in joining? Preregister today to recieve emails about BCA CTF!</p>
            
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="password" placeholder="Confirm Password">
            <input type="text" name="school" placeholder="School">
            <input type="number" name="grade" placeholder="Grade">

            <div class="btn-div">
                <button type="submit">Register</button>
            </div>

    </form>
    
    
</div>
<%- include("footer.ejs") %>