<%- include("header.ejs") %>
<div class="about pageContent">
    <h1>Rules</h1>
    <div class="mx-auto" style="display: table; width: 50%;">
        <ul style="text-align: left;">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac lacus urna. Sed finibus pellentesque tincidunt. Curabitur arcu diam, cursus eget lorem vel, tincidunt blandit est.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac lacus urna. Sed finibus pellentesque tincidunt. Curabitur arcu diam, cursus eget lorem vel, tincidunt blandit est.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac lacus urna. Sed finibus pellentesque tincidunt. Curabitur arcu diam, cursus eget lorem vel, tincidunt blandit est.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac lacus urna. Sed finibus pellentesque tincidunt. Curabitur arcu diam, cursus eget lorem vel, tincidunt blandit est.</li>
        </dl>
    </div>
    
</div>
<%- include("footer.ejs") %>