<%- include("header.ejs") %>
<div class="about pageContent">
    <h1>Rules</h1>
    <div class="mx-auto" style="display: table; width: 50%;">
        <ul style="text-align: left;">
            <li>Teams should work independently; sharing answers privately or publicly, or collaborating with another team to secure multiple spots at on the leaderboard constitutes cheating.</li>
            <li>Attacking the CTF infrastructure ruins the fun for everyone. Unless a challenge explicitly calls for such an attack, it is strictly forbidden to perform any kind of Denial of Service Attack (DoS/DDoS) against the servers or the competition's infrastructure.</li>
            <li>Brute forcing of flags is not tolerated or recommended.</li>  
            <li>Flags should be submitted as they are found rather than hoarding flags and submitting them all at once. Teams that submit flags in quick succession may be asked to provide write-ups.</li>
        </ul>
    </div>
</div>
<%- include("footer.ejs") %>