body {
    font-family: 'Ubuntu Mono', monospace !important;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    background: #37474F;
    overflow-x: hidden;
}

nav {
    min-height: 11.6vh;
    background: #263238;
    margin-bottom: 32px;
    padding-right: 10.4166667% !important;
    padding-left: 10.4166667% !important;
}

nav .nav-logo {
    font-size: 28px;
    font-weight: 800;
    color: #FFFFFF;
}

nav .nav-menu-item {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF !important;
}

nav .nav-menu-item:hover {
    color: #66bb6a !important;
}

@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
        }
    }    

h1 {
    font-weight: 800;
    margin-bottom: 20px;
}

.about p {
    font-size: 14px;
    padding-right: 21.25%;
    padding-left: 21.25%;
}

.contact form {
    padding-right: 29.86%;
    padding-left: 29.86%;
}

.contact form p {
    font-size: 16px;
    padding-right: 6.88%;
    padding-left: 6.88%;
    padding-bottom: 18px;
}

.contact form input, .darkInput {
    width: 61.27%;
    padding: 6px 24px;
    border-radius: 5px;
    height: 42px;
    margin-bottom: 16px;
    background-color: #263238;
    border: 0px solid;
    color: #FFFFFF;
}

.contact form input::placeholder, .darkInput::placeholder {
    color: #FFFFFF;
}

.contact form textarea {
    width: 61.27%;
    padding: 12px 24px;
    border-radius: 5px;
    min-height: 166px;
    margin-bottom: 18px;
    background-color: #263238;
    border: 0px solid;
    color: #FFFFFF;
}

.faqPageContent {
    color: #FFFFFF;
}

.faqScreen {
    color: #4CAF50;
    background: #263238;
    margin: 0 4px 20px 4px;
    border-radius: 7px;
}

.contact form textarea::placeholder {
    color: #FFFFFF;
}

.contact form .btn-div {
    width: 61.27%;
    margin: 0 auto;
}

.contact form .btn-div button {
    width: 42.93%;
    border-radius: 8px;
    height: 31px;
    background-color: #4CAF50;
    border: 0px solid;
    color: #FFFFFF;
    display: block;
}

.pageContent {
    color: #e5e5e5;
    text-align: center;
    padding: 0;
}

.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}

#logo {
    width: 100%;
    max-width: 320px;
}

.titlebar {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #ebebeb, color-stop(1.0, #d5d5d5)));
    background: -webkit-linear-gradient(top, #ebebeb, #d5d5d5);
    background: -moz-linear-gradient(top, #ebebeb, #d5d5d5);
    background: -ms-linear-gradient(top, #ebebeb, #d5d5d5);
    background: -o-linear-gradient(top, #ebebeb, #d5d5d5);
    background: linear-gradient(top, #ebebeb, #d5d5d5);
    color: #4d494d;
    font-size: 11pt;
    line-height: 20px;
    text-align: center;
    width: 100%;
    height: 20px;
    border-top: 1px solid #f3f1f3;
    border-bottom: 1px solid #b1aeb1;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    cursor: default;
  }

  .screencont {
      padding: 7px;
  }

.centerText {
    text-align: center;
    margin: auto;
}